#nav {
	padding: 0.6em;
	font-size: 1.2em;
	justify-content: space-around;
}

#app-menu, #install-btn {
	background-color: transparent;
	color: inherit;
	border: none;
}

#install-btn > svg {
	margin-bottom: 10px;
}
