#nav {
	font-size: 1.2em;
	max-width: 100vw;
	gap: 12px;
}

#nav > .btn {
	background-color: transparent;
	color: inherit;
	border: none;
	height: 100%;
}

#install-btn, #fs-button {
	justify-self: flex-end;
}

#install-btn > svg {
	margin-bottom: 10px;
}

