---
layout: wide
title: Home
pinned: true
referrer: no-referrer
description: Map of camping sites in and around the Kern River Valley
tags:
- kern valley
- kern river valley
- map
- camping
- campground
- kern river
- lake isabella
- isabella lake
---
<leaflet-map center="35.68490811606957,-118.42180275481842" zoom="11" zoomcontrol="" detectretina="" aria-hidden="true">
	{% for camp in site.data.campsites %}
		{% include campsite.html
			identifier=camp.identifier
			name=camp.name
			description=camp.description
			image=camp.image
			geo=camp.geo
			url=camp.url
			telephone=camp.telephone
			email=camp.email
			address=camp.address
		%}
	{% endfor %}
</leaflet-map>
