---
layout: wide
title: Home
pinned: true
referrerPolicy: no-referrer
description: Map of camping sites in and around the Kern River Valley
imgur: 'https://i.imgur.com/6xZrS3m.jpg'
tags:
- kern valley
- kern river valley
- map
- camping
- campground
- kern river
- lake isabella
- isabella lake
---
<leaflet-map class="custom-element" center="35.68490811606957,-118.42180275481842" zoom="11" toolbar="" zoomcontrol="" detectretina="" aria-hidden="true">
	<form name="search" class="if-defined" slot="toolbar">
		<input type="search" class="input inline-block" name="query" placeholder="Search by name" list="campgrounds-list" autocomplete="off" required="" />
		<datalist id="campgrounds-list"></datalist>
		<button type="submit" class="btn btn-accept" title="Search" hidden="">
				{% include icon.html icon="search" %}
				<span class="mobile-hidden">Search</span>
		</button>
		<button type="reset" class="btn btn-reject" title="Clear" hidden="">
			{% include icon.html icon="x" %}
			<span class="mobile-hidden">Clear</span>
		</button>
	</form>
	{% for camp in site.data.campsites %}
		{% include campsite.html
			identifier=camp.identifier
			icon=camp.icon
			name=camp.name
			closed=camp.closed
			description=camp.description
			image=camp.image
			geo=camp.geo
			url=camp.url
			telephone=camp.telephone
			email=camp.email
			address=camp.address
			priceRange=camp.priceRange
		%}
	{% endfor %}
</leaflet-map>
